h1{
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
  }
  body{
    background-color: black;
  }
  td{
  width: 150px;
  height: 150px;
  border:1px solid white;
  text-align: center;
  font-size: 60px;
  color: yellow;
  }
  table{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  